# Data Science Ecosystem

## Author: ##
Roimemy RALISON

In this notebook, Data Science tools and ecosystem are summarised.

**Learning Objectives**

This notebook for beginner Data Scientists will:
- introduce you to the most popular languages, libraries and environments used in Data Science
- show you the most basic operations you can perform with these tools
- help you get better as you progress through useful tips and recommendations

(Note: You are not supposed to remember every single tool mentioned in this notebook, which can be overwhelming. It will only cover the most important ones for you to start with in your early Data Science career.)

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Seaborn
5. scikit-learn

The following table includes some of the open-source development environments used in Data Science.
| Data Science Tools |
|:-:|
|Jupyter Notebooks/ JupyterLab|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python. ###

This is a simple arithmetic expression to multiply then add integers.

In [19]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60:

In [25]:
200//60

3

Or

In [43]:
200/60

3.3333333333333335

TIP: For such time conversions, it is more accurate to use

In [35]:
from datetime import timedelta
str(timedelta(minutes=200))

'3:20:00'